certifi==2018.11.29
chardet==3.0.4
colorama==0.4.1
colorful==0.3.7
et-xmlfile==1.0.1
idna==2.8
jdcal==1.4
Jinja2>=2.10.1
jxmlease==1.0.1
MarkupSafe==1.1.1
netaddr==0.7.19
prettytable==0.7.2
requests==2.21.0
urllib3
-e git+https://github.com/aristanetworks/cvprac.git@develop#egg=cvprac
